.alert {
  padding: 5px;
  margin: 1em 0;
  background-color: #f44336;
  color: white;
}

.alert__closed {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert__closed:hover {
  color: black;
}
